body{
	background-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

header{
	text-align:center;
}

.btn-primary{
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover,{
	background-color: #202364;
	cursor:pointer;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h2, #message, #finalMessage{
	font-family: Sigmar One;
}

.thisChoice:hover{
	background-color: #202364;
	color: white;
	padding: 10px;
	cursor:pointer;
}

#gif{
	margin: 30px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}